

.pokermon-details-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px 20px;
}

.pokermon-details-title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    text-transform: capitalize;
}

.pokermon-details-img {
    display: flex;
    justify-content: center;
    img {
        width: 100%;
        max-height: 200px; 
    }
}