@import '../../scss-styles/common/index.scss';

.pokemon-list {
    display: grid;
    gap: 20px;
    margin-bottom: 40px;

    .selected {
        background-color: #68AE28;
        color: aliceblue;
        &:hover {
            background-color: #68AE28;
        }
    }

    @media (min-width: $breakpoint_md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint_lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.pokemon-item {
    display: grid;
    padding: 10px;
    height: 80px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
    box-shadow: 1px 6px 16px 0px rgb(0 0 0 / 75%);
    cursor: pointer;

    &:hover {
        background-color: #eee;
    }
}

.pokemon-list-wrapper {
    display: flex;
    flex-direction: column;

    .btn {
        align-self: center;
        box-shadow: 1px 6px 16px 0px rgb(0 0 0 / 75%);
    }
}

